.env
*.pyc
__pycache__/
.venv/
.ipynb_checkpoints/
*.parquet
*.nc
*.xml
bronze/
silver/
dbt/dbt_packages/
dbt/target/
dbt/logs/
transformations/dbt_packages/
transformations/target/
transformations/logs/
.terraform/
.terraform.lock.hcl
.env_encoded
service-account.json
backup/
